In [2]:
import pandas as pd
df = pd.read_csv("../Datasets/insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
print(df.shape)
df.describe()
print(f'age count: {df.age.count()}') #number of data entries with column age
print(f'age nunique: {df.age.nunique()}') #number of data entries with unique age
print(f'age datatype: {df.age.dtype}')
print(f'age datatype: {pd.api.types.is_numeric_dtype(df.age)}')
print(f'age number of null: {df.age.isnull().sum()}')

(1338, 7)
age count: 1338
age nunique: 47
age datatype: int64
age datatype: True
age number of null: 0

In [15]:
import numpy
print(df.charges.min())
print(df.charges.max())
print(df.charges.quantile(.25))
print(df.charges.quantile(.50))
print(df.charges.quantile(.75))
print("mean: " + str(df.charges.mean()))
print("median: " + str(df.charges.median()))
print("mode: " + str(df.charges.mode()))
print("standard deviation: " + str(df.charges.std()))
#np.std(df.charges, ddof=1)
print(df.charges.skew()) #pos = right skew
print(df.charges.kurt()) #pos = high kurtosis = high peak

1121.8739
63770.42801
4740.28715
9382.033
16639.912515
mean: 13270.422265141257
median: 9382.033
mode: 0    1639.5631
dtype: float64
standard deviation: 12110.011236693994
1.5158796580240388
1.6062986532967907